Experiments/Image-Recognition/YOLO11-Example/runs/
Experiments/Image-Recognition/YOLO11-Example/datasets/
Experiments/Image-Recognition/YOLO11-Example/yolo11n-pose.pt
Experiments/Image-Recognition/MediaPipe-Example/result
venv/
myenv/
**/__pycache__/
*.py[cod]
python-3.12.0-amd64.exe
